/* Define custom fonts */
/* Define custom fonts */
/* Define custom fonts */
/* Define custom fonts */
/* Define custom fonts */

@font-face {
    font-family: 'Optician Sans';
    src: url('~/Assets/fonts/Optician-Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Prep for custom cursor */
/* Prep for custom cursor */
/* Prep for custom cursor */
/* Prep for custom cursor */
/* Prep for custom cursor */

html, body, a, input, textarea, label, video {
    cursor: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.button {
    cursor: none;
}

body {
    background-color: #323232;
}

/* Tailwind's Base, Components, and Utilities */
/* Tailwind's Base, Components, and Utilities */
/* Tailwind's Base, Components, and Utilities */
/* Tailwind's Base, Components, and Utilities */
/* Tailwind's Base, Components, and Utilities */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shortening Repeating Class Groups */
/* Shortening Repeating Class Groups */
/* Shortening Repeating Class Groups */
/* Shortening Repeating Class Groups */
/* Shortening Repeating Class Groups */

.gradient-text {
    @apply inline-block text-transparent bg-clip-text;
}

.gradient-applecar {
    @apply bg-gradient-to-r from-applecarAutonomous to-applecarBlue;
}

.gradient-fontfacing {
    @apply bg-gradient-to-r from-fontfacingBlue to-fontfacingPurple;
}

.gradient-tattooo {
    @apply bg-gradient-to-r from-tattoooBlue via-tattoooSecondaryDarker to-tattoooAlert;
}